@import "materialize-sass/components/color-variables";

$bg-color: linear-gradient(to right, #2c3e50, #27525b);

$text-color: color("blue-grey", "lighten-5") !default;
$primary-color: color("teal", "darken-4") !default;
$primary-color-dark: darken($primary-color, 15%);
$secondary-color-dark: color("teal", "darken-3") !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: $text-color !default;

// Materialize Elements
$card-bg-color: $secondary-color-dark;
//$card-link-color: $link-color;
