@import "materialize-sass/components/color-variables";

$bg-color: linear-gradient(to right, ***REMOVED***8e9eab, ***REMOVED***eef2f3);

$text-color: color("grey", "darken-3") !default;
$primary-color: color("teal", "lighten-1") !default;
$primary-color-light: lighten($primary-color, 15%);
$secondary-color-light: color("teal", "lighten-3") !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: $text-color;

// Materialize Elements
$card-bg-color: $secondary-color-light;
$card-link-color: $text-color;