@import "materialize-sass/components/color-variables";
@import "base_dark";

// My Elements
body, html {
  background: $bg-color;
  color: $text-color;
}

a, a:link, a:visited {
  text-decoration: none;
  cursor: default;
  color: $link-color;
}

hr {
  border: 0.5px solid $primary-color-dark;
}

.error {
  background: linear-gradient(to right,
          color("red", "base"), color("red", "darken-3"));
}

@import "materialize-sass/materialize";