@import "materialize-sass/components/color-variables";
@import "base_light";

// My Elements

body, html {
  background: $bg-color;
  color: $text-color;
}

a, a:link, a:visited {
  text-decoration: none;
  cursor: default;
  color: $link-color;
}

hr {
  border: 0.5px solid color("grey", "darken-3");
}

.error {
  background: linear-gradient(to right,
          color("red", "base"), color("red", "lighten-3"));
}

@import "materialize-sass/materialize";