@option discardLogicWhitespace=true
@option targetCharset=UTF-8

@import java.util.List
@import technology.iatlas.spaceup.dto.Navigation
@args (String title, List<Navigation> navigations, RockerContent extrajs, RockerBody content)

<html>
    <head>
        <title>@title</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Project styles -->
        <link rel="stylesheet" href="/style/standard.css">
        <!-- Add JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper teal">
                <!--a href="#" class="brand-logo">Logo</a-->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @for (nav : navigations) {
                        @if(nav.getNewTab()) {
                            <li><a href="@nav.getMapping()" target="_blank">@nav.getLinkname()</a></li>
                        } else {
                            <li><a href="@nav.getMapping()">@nav.getLinkname()</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            <!-- Page Content goes here -->
            @content
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="module" src="/js/main.js"></script>
        <script src="/js/modules/Utils.js"></script>
        @extrajs
    </body>
</html>