@import java.util.List
@import technology.iatlas.spaceup.dto.Navigation
@import technology.iatlas.spaceup.dto.Disk

@args (List<Navigation> navigations, Disk diskQuota, String hostname)

@views.base.template("Dashboard", navigations, RockerContent.NONE) -> {

    <h4>Server Information</h4>
    <div class="row">
        <div class="col s12 m4">
            <span>
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="text-color">
                            Used disk: @diskQuota.getSpace()<br/>
                            Quota: @diskQuota.getQuota()
                            <hr>
                            @diskQuota.getSpacePercentage()% von 100% benutzt
                        </span>
                    </div>
                </div>
            </span>
        </div>
        <div class="col s12 m4">
            <span>
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="text-color">
                            Server name: @hostname
                        </span>
                    </div>
                </div>
            </span>
        </div>
    </div>
}