@import java.util.List
@import technology.iatlas.spaceup.dto.Navigation
@import technology.iatlas.spaceup.dto.Domains;

@args (List
<Navigation> navigations, Domains domains)

    @extrajs => {
    <script src="/js/modules/Domain.js"></script>
    }

    @views.base.template("Domänen", navigations, extrajs) -> {
    <div>
        <h4>Deine Domänen</h4>
    </div>
    <div class="row">
        @for (domain : domains.getDomains()) {
        <div id="card_@domain.replace('.','_')" class="col s12 m4">
            <!-- *content id* is import to replace it with loader and back -->
            <span id="content_@domain.replace('.','_')">
                <div class="card hoverable">
                    <div class="card-content teal">
                        <span class="white-text">
                            <a href="https://@domain" target="_blank">@domain</a>
                        </span>
                    </div>
                    <div class="card-action">
                        <a onclick="deleteDomain('@domain')">Löschen</a>
                    </div>
                </div>
            </span>
        </div>
        }
    </div>
    <a id="add-domain" href="#addDomainModal"
       class="btn-floating btn-large scale-transition waves-effect waves-light modal-trigger">
        <i class="material-icons">add</i>
    </a>

    <!-- Modal Structure -->
    <div id="addDomainModal" class="modal">
        <div class="modal-content">
            <label for="domain-list">Füge hier alle Domains mit Semikolon getrennt hinzu!</label>
            <textarea autofocus placeholder="my.example.domain; another.example.domain"
                      id="domain-list"></textarea>
        </div>
        <div class="modal-footer">
            <a onclick="add()" class="btn-floating scale-transition waves-effect waves-light teal">
                <i class="material-icons">add</i></a>
        </div>
    </div>

    }