@import java.util.Map
@import java.util.List
@import technology.iatlas.spaceup.dto.Service
@import technology.iatlas.spaceup.dto.Navigation
@import technology.iatlas.spaceup.dto.ServiceOptions

@args (List<Navigation> navigations, List<Service> services, List<ServiceOptions> options)

    @extrajs => {
    <script src="/js/modules/Service.js"></script>
    }

@views.base.template("Services", navigations, extrajs) -> {
    <div>
        <h4>Deine Services</h4>
    </div>
    <div class="row">
        @for (service : services) {
        <div class="col s12 m4">
            <span id="content_@service.getName()">
                <div class="card hoverable">
                    <div id="card_@service.getName()" class="card-content">
                    <h5>@service.getName()</h5>
                    <hr class="white">
                    <span class="white-text">
                        <p>
                            Status: @service.getStatus()<br/>
                            @service.getInfo()
                        </p>
                    </span>
                    </div>
                    <div class="card-action">
                        @for(option: options) {
                            <a onclick="serviceExecute('@service.getName()','@option')">@option.name()</a>
                        }
                    </div>
                </div>
            </span>
        </div>
        }
    </div>

    <script>
        $(document).ready(function(){
            let serviceList = [];
            @for(service: services) {
                serviceList.push({
                    name: "@service.getName()",
                    status: "@service.getStatus()",
                    info: "@service.getInfo()"
                });
            }
            serviceList.forEach(s => {
                if(s.status === "FATAL") {
                    $("#card_" + s.name).addClass("red");
                } else {
                    $("#card_" + s.name).addClass("teal");
                }
            })
        });
    </script>
    }